.menubar {
  position: relative;
  transition: all 0.3s ease;
}

.menubar .navbar {
  padding: 0;
}

.header-blue .navbar {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 4px solid;
  border-radius: 50px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menubar .nav-item {
  padding-right: 24px;
}

.logo-blue {
  position: absolute;
  background-color: #fff;
  z-index: 9;
  border: 4px solid;
  border-top: 0;
  padding: 18px;
  left: 50%;
  border-bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo-blue::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  height: 2px;
  width: 100%;
}

.nav-link {
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
}
.header-blue .nav-link {
  color: #000;
  font-weight: 600;
}
.mobile-menu .nav-link:hover {
  color: #fff;
}

.menubar .nav-item:last-child {
  padding-right: 0;
}

.mobile-menu .dropdown-item {
  color: #fff;
  text-transform: capitalize;
  padding: 10px;
}
.mobile-menu .nav-link {
  color: #fff;
}
.mobile-menu .dropdown-item:hover {
  background-color: transparent;
}

.menu-item h3 {
  font-size: 15px;
  text-transform: capitalize;
  padding: 20px 0 10px;
  font-weight: 600;
  border-bottom: 1px solid;
}

.mobile-menu .nav-item {
  margin-bottom: 20px;
  padding: 0 20px;
}

.mobile-menu .nav-item .dropdown-toggle::after,
.menubar .dropdown-toggle::after {
  border: none;
  font-family: "FontAwesome";
  content: "\f107";
  width: 10px;
  height: 21px;
  margin-left: 2px;
  vertical-align: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-menu .nav-item.current .dropdown-toggle::after,
.menubar .nav-item:hover .dropdown-toggle::after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.drop-menu,
.mega-menu {
  text-align: left;
}
.mobile-menu .drop-menu,
.mobile-menu .mega-menu {
  display: none;
}

.mobile-logo {
  /* text-align: right;
  margin-top: 7px; */
  width: 70px;
}
/*======mobile menu======*/
.menu-toggle {
  text-align: left;
  cursor: pointer;
}

.menu-toggle i {
  font-size: 30px;
  padding-top: 10px;
  color: #1E428A;
}

.mobile-menu {
  position: fixed;
  text-align: left;
  top: 0;
  background-color: #1E428A;
  z-index: 99;
  width: 250px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 40px;
  padding-bottom: 20px;
  left: -250px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

.menu-hide {
  left: 0;
}

.close-menu {
  position: absolute;
  top: 10px;
  font-size: 20px;
  right: 10px;
  padding: 4px;
  z-index: 9;
  cursor: pointer;
}

/*====== sticky men u======*/
.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 76px;
  z-index: 9999;
  background-color: #fff;
  text-align: center;
  animation: slideInDown;
  animation-duration: 0.6s;
  box-shadow: 0px 0px 13px 0px rgba(31, 31, 31, 0.4);
}
.sticky-menu .navbar-nav {
  /* background-color: #fff; */
}
.sticky-menu .nav-link {
  /* color: #fff; */
  font-weight: 600;
}
.mobile-affix {
  padding: 15px 0;
}
.sticky-menu .nav-item {
  padding-right:50px;
}
